<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- Apache的 LogFactory 自动会到项目src目录下去搜寻log4j.xml这个文件-->

    <!-- =================================== -->
    <!-- Logging levels are:           -->
    <!-- DEBUG < INFO < WARN < ERROR < FATAL -->
    <!-- =================================== -->

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HHmmss.SSS} [%-5p] %c{1}.%M():%L %m%n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${user.home}/mbi-logs/mbi-application.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="append" value="false"/>
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="100"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %C{6} (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <!-- ===================================== -->
    <!-- log4jdbc settings                     -->
    <!-- ===================================== -->

    <logger name="jdbc.connection" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="jdbc.audit" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="jdbc.sqlonly" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="jdbc.sqltiming" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="jdbc.resultset" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="jdbc.resultsettable" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</log4j:configuration>